@import './colors';

body {
    background-color: $body-background-color;
}
.app-container {
    display: flex;
    flex-direction: column;
}
.container {
    background-color: $element-background-color;
}
.flex {
    display: flex;
}
.gap10 {
    gap: 10px;
}
.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
.flex-even > * {
    flex-basis: 100%;
}
.title {
    padding: 10px;
    font-size: 1.5rem;
}
.pointer {
    cursor: pointer;
}
.arrow-down {
    font-size: 2rem;
}